BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: sans-serif, Verdana, Arial, Helvetica
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: sans-serif, Verdana, Arial, Helvetica
}
A:active {
	COLOR: #3b53b1; TEXT-DECORATION: none
}
A:link {
	COLOR: #3b53b1; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.LoginForm { 
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px 
}
.LoginTable {
	MARGIN-LEFT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.FormInput {
	HEIGHT: 20; WIDTH: 160
}
.SearchForm { 
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px 
}
.SearchTable {
	MARGIN-LEFT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.TableTitleRow {
	FONT-WEIGHT: bold; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #c8d6e5; TEXT-ALIGN: center
}
.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FILTER: dropshadow(color=#000000,offx=2,offy=2); COLOR: #0b77d3; TEXT-ALIGN: center
}
.ItemRow {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #ffffff
}
.ItemOdd {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #ffffff
}
.ItemEven {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #d9d9d9
}
.OddRow {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #ffffff
}
.EvenRow {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #f3f6f8
}
.TitleRow {
	FONT-WEIGHT: bold; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #d9d9d9; TEXT-ALIGN: center
}
.SolidRow {
	FONT-WEIGHT: bold; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #d9d9d9
}
.SummaryRow {
	FONT-WEIGHT: bold; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; BACKGROUND-COLOR: #eeeeee
}
.ReportTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff
}
.CategoryTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff
}
.ChartTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FILTER: dropshadow(color=#000000,offx=2,offy=2); COLOR: #0b77d3; TEXT-ALIGN: center
}
.ChartTable {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FILTER: dropshadow(color=#000000,offx=2,offy=2); COLOR: #ffffff; TEXT-ALIGN: center
}
.RightInput {
	TEXT-ALIGN: right
}
.TOC {
	BACKGROUND-IMAGE: url(di1.gif); BACKGROUND-REPEAT: repeat-x
}

