*.bak
*.o
*.so
release/
depend.mk
temp.mk

.deps/
.libs/
.dirstamp
*.la
*.ldd
*.lo
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/adaptor
/archive
/areadb
/cdnd
/cidb
/delivery
/digest
/event
/freebusy
/gromox-dbop
/gromox-mailq
/http
/imap
/locker
/midb
/migrator
/mkmidb
/mkprivate
/mkpublic
/pop3
/rebuild
/rtf2html
/sa_daemon
/scanner
/sendmail
/sensor
/smtp
/supervisor
/timer
/zcore

/include/gromox/paths.h
/system/*.service
