*.bak
*.o
*.so
release/
depend.mk
temp.mk

.deps/
.libs/
.dirstamp
*.la
*.ldd
*.lo
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/adaptor
/delivery
/digest
/event
/freebusy
/gromox-dbop
/gromox-mailq
/http
/imap
/midb
/mkmidb
/mkprivate
/mkpublic
/pop3
/rebuild
/rtf2html
/smtp
/timer
/zcore

/include/gromox/paths.h
/php_mapi/zarafa_rpc.cpp
/exch/midb/exmdb_rpc.cpp
/exch/zcore/exmdb_rpc.cpp
/exch/exmdb_provider/exmdb_rpc.cpp
/system/*.service
/tests/abktconv
/tests/bodyconv
/tests/icalparse
/tests/zendfake
