*.bak
*.flh
*.hook
*.o
*.pas
*.so
*.svc
release/
depend.mk
temp.mk

.deps/
.libs/
.dirstamp
*.la
*.ldd
*.lo
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/adaptor
/admin_archive
/admin_insulation
/admin_log
/admin_main
/archive
/archiver_list
/area_list
/areadb
/bl_delete
/boundary_blacklist
/cdnd
/cidb
/da_daemon
/daemon
/daily_statistic
/daily_status
/delivery
/digest
/dispasswd
/dns_table
/dynamic_dnslist
/enpasswd
/event
/fcgi_cgi
/forward_table
/freebusy
/from_blacklist
/from_replace
/http
/imap
/ip_blacklist
/ip_whitelist
/ipdomain_table
/keyword_group
/keyword_statistic
/keyword_upload
/locker
/mensual_statistic
/message_sign
/midb
/migrator
/mkmidb
/mkprivate
/mkpublic
/monitor
/org_list
/pad
/pop3
/pop_porting
/rcpt_blacklist
/rebuild
/relay_allow
/relay_domains
/relay_table
/rsyncd
/rsyncer
/rtf2html
/sa_daemon
/scanner
/sendmail
/sensor
/session
/single_rcpt
/smtp
/status_rpc
/supervising_list
/supervising_statistic
/supervisor
/synchronization_rpc
/system_backup
/system_info
/system_password
/system_setup
/system_users
/tagging_whitelist
/timer
/userinfo
/xmailer_blacklist
/zcore

/include/gromox/paths.h
/system/*.service
