
## <summary>policy for gromox</summary>

########################################
## <summary>
##	Execute gromox_exec_t in the gromox domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gromox_domtrans',`
	gen_require(`
		type gromox_t, gromox_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gromox_exec_t, gromox_t)
')

######################################
## <summary>
##	Execute gromox in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_exec',`
	gen_require(`
		type gromox_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, gromox_exec_t)
')
########################################
## <summary>
##	Read gromox's log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gromox_read_log',`
	gen_require(`
		type gromox_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, gromox_log_t, gromox_log_t)
')

########################################
## <summary>
##	Append to gromox log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_append_log',`
	gen_require(`
		type gromox_log_t;
	')

	logging_search_logs($1)
	append_files_pattern($1, gromox_log_t, gromox_log_t)
')

########################################
## <summary>
##	Manage gromox log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_manage_log',`
	gen_require(`
		type gromox_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, gromox_log_t, gromox_log_t)
	manage_files_pattern($1, gromox_log_t, gromox_log_t)
	manage_lnk_files_pattern($1, gromox_log_t, gromox_log_t)
')

########################################
## <summary>
##	Search gromox lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_search_lib',`
	gen_require(`
		type gromox_var_lib_t;
	')

	allow $1 gromox_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read gromox lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_read_lib_files',`
	gen_require(`
		type gromox_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, gromox_var_lib_t, gromox_var_lib_t)
')

########################################
## <summary>
##	Manage gromox lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_manage_lib_files',`
	gen_require(`
		type gromox_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, gromox_var_lib_t, gromox_var_lib_t)
')

########################################
## <summary>
##	Manage gromox lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_manage_lib_dirs',`
	gen_require(`
		type gromox_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, gromox_var_lib_t, gromox_var_lib_t)
')

########################################
## <summary>
##	Read gromox PID files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gromox_read_pid_files',`
	gen_require(`
		type gromox_var_run_t;
	')

	files_search_pids($1)
	read_files_pattern($1, gromox_var_run_t, gromox_var_run_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an gromox environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gromox_admin',`
	gen_require(`
		type gromox_t;
		type gromox_log_t;
		type gromox_var_lib_t;
		type gromox_var_run_t;
	')

	allow $1 gromox_t:process { signal_perms };
	ps_process_pattern($1, gromox_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 gromox_t:process ptrace;
    ')

	logging_search_logs($1)
	admin_pattern($1, gromox_log_t)

	files_search_var_lib($1)
	admin_pattern($1, gromox_var_lib_t)

	files_search_pids($1)
	admin_pattern($1, gromox_var_run_t)
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
