[Unit]
Description=Herculiz MTA service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/herculiz /var/herculiz start
Restart=/usr/bin/herculiz /var/herculiz restart
ExecStop=/usr/bin/herculiz /var/herculiz stop

[Install]
WantedBy=multi-user.target
