.calendar{font-size:12px; width:172px; height:200px; background:url(../picture/calendar-background.gif) no-repeat; padding-top:12px; padding-left:12px}


.calendar ul{ list-style:none; width:147px; margin:0px; padding:0px; text-align:center;}


.calendar ul li{ float:left;width:21px;height:21px;}


.calendar ul li a{display:block; text-decoration:none; color:#2a2a2a}


.calendar ul li a:hover{ color:#0397fe}


.calendar a.calendar_selected{ color:#da2727}


.calendar li.calendar_invalid{}


.calendar li.calendar_outrange{color:#dcdcdc;}


.calendar li.calendar_week{ height:auto}


.calendar li.calendar_today{width:63px;}


.calendar li.calendar_month{width:63px;}


.calendar li.calendar_year{width:63px;}


.calendar li.calendar_logo{}
