[Unit]
Description=Periodic purge of softdeleted items in Gromox mailboxes

[Timer]
OnCalendar=daily
Persistent=true
WakeSystem=no
RandomizedDelaySec=180

[Install]
WantedBy=timers.target
