[Unit]
Description=Gromox system administration service group
Documentation=man:gromox-sa.target(8gx)
Wants=gromox-http.service gromox-midb.service gromox-zcore.service

[Install]
WantedBy=multi-user.target
