[Unit]
Description=Gromox system administration service group
Documentation=man:gromox-sa.target(8gx)
Wants=gromox-adaptor.service gromox-event.service gromox-timer.service

[Install]
WantedBy=multi-user.target
