[Unit]
Description=Gromox mailbox cleaner
Requisite=gromox-http.service
After=gromox-http.service

[Service]
# Fallback if EnvironmentFile hasn't got any value
Environment=softdelete_purgetime=30d
EnvironmentFile=/etc/gromox/gromox.cfg
ExecStart=/usr/sbin/gromox-mbop foreach.here.mb ( purge-softdelete -d ${softdelete_purgetime} -r / ) ( purge-datafiles )
MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateNetwork=no
PrivateUsers=no
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
SystemCallFilter=@default @file-system @basic-io @system-service
Type=oneshot
