[Unit]
Description=Athena mail system administration service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/athena /var/athena start
Restart=/usr/bin/athena /var/athena restart
ExecStop=/usr/bin/athena /var/athena stop

[Install]
WantedBy=multi-user.target
