[Unit]
Description=Titan mail archive service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/titan /var/titan start
Restart=/usr/bin/titan /var/titan restart
ExecStop=/usr/bin/titan /var/titan stop

[Install]
WantedBy=multi-user.target
