[Unit]
Description=Medusa rpc over http with MAPI service
After=network.target

[Service]
LimitCORE=infinity
Type=forking
ExecStart=/usr/bin/medusa /var/medusa start
Restart=/usr/bin/medusa /var/medusa restart
ExecStop=/usr/bin/medusa /var/medusa stop

[Install]
WantedBy=multi-user.target
