[Unit]
Description=Pandora webmail agent service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/pandora /var/pandora start
Restart=/usr/bin/pandora /var/pandora restart
ExecStop=/usr/bin/pandora /var/pandora stop

[Install]
WantedBy=multi-user.target
